<form name="fconvert">
  <b>JSON Input:</b><br>
<textarea id="jsonstring" name="jsonstring" cols="125" rows="10">This is a
</textarea><br>
<b>Output of ___PKG_EXPORTVAR___ </b>
<select id="sTemplate" onchange="setTemplate(this.value)">
  <option value="javascript" selected="selected">Javascript Code</option>
  <option value="javascriptcomments">Javascript Code with Comments</option>
  <option value="docu4github">Documentation for GitHub</option>
</select>
<input name="bConvert" value=" Create Output " onclick="convert(el('sTemplate').value);return false" type="button">
<br>

<textarea id="output" name="output" cols="125" rows="10"></textarea><br>

<hr>
<b>___PKG_EXPORTVAR___</b> uses the following Template for <a href="https://www.github.com/niebert/Handlebars4Code" target="_blank">Handlebars</a> (readonly)<br>
<textarea id="tTemplate" name="tTemplate" cols="125" rows="10" readonly></textarea><br>
</form>
