</head>
<body style="font-family:Arial,Verdana; font-size:12pt; color:black" bgcolor="#CACACA">

  <h1>Handelbars4Code Demo - ___PKG_VERSION___</h1>
  <h4>
    This WebApp is an <a href="https://en.wikiversity.org/wiki/WebApps_with_LocalStorage_and_AppCache" target="_blank">AppLSAC</a>. Demo JSON Source as input for <tt>Handelbars4Code</tt>
    was generated with <a href="https://niebert.github.io/ClassEditorUML" target="_blank">ClassEditorUML</a>.
    The JSON file is used together with a template to generate files.
    With the select box you can apply different templates to the source JSON file.
    If you want to create your own JSON editor, you can use <a href="https://niebert.github.io/JSON2Schema" target="_blank"> JSON2Schema</a>.
  </h4>
