
	   <!-- BEGIN: src/html_tail.html -->
	   <center style="font-size: 10px;">
			  <a href="https://www.gitlab.com/niehausbert/handlebars4code" target="_blank"> Git Sources Handlebars4Code</a> - <a href="https://www.gitlab.com/niehausbert/handlebars4code/-/archive/master/handlebars4code-master.zip"  target="_blank">Download Handlebars4Code ZIP</a>
			  <br>
			  Version: 1.2.38 Date: 2020/10/07 14:51:21 Author: Engelbert Niehaus
	   </center>
     <!-- END:  src/html_tail.html -->

	